.cart {
    width: 25vw;
    padding: 16px;
}

.cart-item {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid aliceblue;
}

.cart-item > div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cart-footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}