.product-card {
    border: 1px solid aliceblue;
    border-radius: 10px;
    width: 250px;
    height: 250px;
    padding: 15px;
    text-align: center;
    display: grid;
    grid-template-areas: 
        "item1 item4"
        "item2 item2"
        "item3 item3"
        "item5 item5";
}

.prod-name {
    grid-area: item1;
}

.prod-cat {
    grid-area: item2;
}

.prod-desc {
    grid-area: item3;
}

.prod-prc {
    grid-area: item4;
}

.add-button {
    grid-area: item5;
}